.coc{
    height: 400px;
    background-color: aquamarine;
    background-image: url("natures.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: contain; 

}
h3{
    font-size: 25px;
    text-decoration: overline;
}
.blog{
    margin: 25px;
    border: 10px solid tomato;
    box-shadow: 10px 15px 25px blueviolet ;
    font-family: 'Courier New', Courier, monospace;
}
.second{
    /* display: none; */
    visibility: hidden;

}
.incident{
    border: 2px solid purple;
    display: block;
    display: inline-block;
}